/* Custom CSS */

#video-background .video-control {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: transparent;
  color: white;
  border: none;
}

.more-button a {
  display: flex;
  align-items: center;
}

  .more-button a .video-w3ls {
    font-size: 1.8em;
  }

.navbar-default .navbar-nav > li > a {
  text-shadow: 1px 1px 3px var(--black)
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

ul.rslides li {
  display: none;
}

  ul.rslides li:first-child {
    display: initial;
  }

ul.social-agileinfo li a {
  font-size: 20px;
}

  ul.social-agileinfo li a:hover i.fa-facebook-f {
    color: #3474db;
  }

  ul.social-agileinfo li a:hover i.fa-instagram {
    color: #0984e3;
  }

.banner-text h3,
.banner-text h6,
.banner-text p,
/* h2.heading-agileinfo, */
h3.heading-agileinfo {
  text-shadow: 1px 0px 0px var(--black), 0px 1px 0px var(--black);
}

.about-w3-grids {
  padding-bottom: 2.5em;
}

.services-img-w3-agile {
  background-position: center;
}

.reasons-agileits-w3layouts {
  padding-bottom: 6em;
}

h2.heading-agileinfo svg, h3.heading-agileinfo svg {
  display: block;
  position: relative;
  top: 4px;
  margin: auto;
  width: 18px;
  height: 18px;
  fill: var(--orange);
  transform: rotate(15deg);
  /* filter: drop-shadow(1px 1px 1px #585757);*/
}

.footer {
  padding-top: 3em;
}
